
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

/public/build
/public/_uploads
/public/bundles/*
/public/site/*
/public/Resources/Data/*
package-lock.json
/var/*
/vendor/*

./yarn.lock
./composer.lock
composer.lock
./yarn-error.log