@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./select2.scss";

.frontend {
    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height: 100%;
    }

    [type=checkbox]:checked, [type=radio]:checked {
        @apply bg-primary;
    }
    
    @font-face {
        font-family: "PlusJakartaSans-Light";
        font-weight: normal;
        font-display: swap;
        src: url("../fonts/PlusJakartaSans-Light.ttf");
    }

    @font-face {
        font-family: "PlusJakartaSans-Medium";
        font-display: swap;
        src: url("../fonts/PlusJakartaSans-Medium.ttf");
    }

    @font-face {
        font-family: "PlusJakartaSans-SemiBold";
        font-display: swap;
        src: url("../fonts/PlusJakartaSans-SemiBold.ttf");
    }

    @font-face {
        font-family: "Norican-Regular";
        font-display: swap;
        src: url("../fonts/Norican-Regular.ttf");
    }

    :root {
        --primary-color: rgb(252, 69, 1);
        --black-1: rgb(17, 19, 23);
        --black-2: rgb(35, 38, 47);
        --white-1: rgb(244, 245, 246);
        --white-2: rgb(230, 232, 236);
        --post-dark-overlay-up: rgba(17, 19, 23, 0.65);
        --post-dark-overlay-down: rgba(17, 19, 23, 1);
        --post-light-overlay-up: rgba(244, 245, 246, 0.65);
        --post-light-overlay-down: rgba(244, 245, 246, 1);
        --author-dark-overlay-up: rgba(17, 19, 23, 0.55);
        --author-dark-overlay-down: rgba(17, 19, 23, 0.85);
        --author-light-overlay-up: rgba(244, 245, 246, 0.55);
        --author-light-overlay-down: rgba(244, 245, 246, 0.85);
        --subscribe-dark-overlay-up: rgba(17, 19, 23, 0.45);
        --subscribe-dark-overlay-down: rgba(17, 19, 23, 0.45);
        --subscribe-light-overlay-up: rgba(244, 245, 246, 0.45);
        --subscribe-light-overlay-down: rgba(244, 245, 246, 0.45);
    }

    /* Typography */

    h1,
    h2,
    h3 {
        @apply font-sans;
        font-family: PlusJakartaSans-Semibold, Helvetica, sans-serif;
    }

    h4,
    h5,
    h6 {
        @apply font-sans;
        font-family: PlusJakartaSans-Medium, Helvetica, sans-serif;
    }
    
    a,
    button,
    a svg,
    strong {
        @apply transition-all;
    }

    button {
        @apply outline-none
    }

    @media (min-width: 640px) {
        .timeline--wrapper::before {
            content: "";
            width: 0.125rem;
            left: -0.75rem;
            bottom: 0px;
            top: 0.5rem;
            position: absolute;
            --tw-bg-opacity: 1;
            background-color: rgb(55 65 81/var(--tw-bg-opacity));
        }
        .timeline--item::before {
            content: "";
            border-radius: 9999px;
            width: 1rem;
            height: 1rem;
            z-index: 1;
            left: -35px;
            top: 0.5rem;
            position:absolute;
            @apply bg-primary;
        }
        .timeline--header::before {
            content: "";
            margin-left: 0;
            margin-right: 0;
            border-radius: 0.375rem;
            width: 6rem;
            height: 0.75rem;
            display: block;
            margin-bottom: 1.25rem;
            @apply bg-primary;
        }
    }

    /* Components */
    body {
        font-family: PlusJakartaSans-Light, Helvetica, sans-serif;
        hyphens: auto;
    }

    .tags-wrapper a {
        @apply font-bold text-white;
    }

    .tags-wrapper {
        @apply text-white;
    }

    .tags-wrapper a + a {
        @apply ml-1;
    }

    .article-wrapper .tags-wrapper {
        @apply text-dark;
    }

    .article-wrapper .tags-wrapper a {
        @apply text-dark;
    }

    /** SVG Round Button **/

    .svg-round-btn {
        @apply fill-current text-white border-2 w-10 h-10 flex items-center justify-center rounded-full;
    }

    /** Social Icons **/

    .social-icons > a:not(.exclude) > svg {
        @apply w-4 h-4 fill-current;
    }

    .dark .social-icons > a {
        @apply text-white;
    }

    /** Overlays **/

    .overlay > * {
        @apply z-10;
    }

    .overlay::before {
        content: "";
        @apply w-full h-full absolute top-0 right-0 left-0 bottom-0 z-0;
    }

    .post-loop-wrapper .group:hover .overlay-content {
        bottom: 0 !important;
    }

    .overlay.overlay-gray::before {
        background-color: rgb(55 65 81);
        opacity: 0.25;
    }

    .hero--overlay {
        @apply transition-all;
        opacity: 0.6;
        background: linear-gradient(
            #1e2026 0%,
            #000000 100%
        );
    }

    ul > li::before {
        @apply bg-primary;
    }

    .smug-simple-text ul {
        @apply list-disc pl-8 py-3;
    }

    article .kg-gallery-row .kg-gallery-image {
        @apply block px-4 w-full h-full overflow-hidden;
    }

    article .kg-gallery-row .kg-gallery-image img {
        @apply m-0 w-full h-full object-cover shadow-md;
    }
}
  