<!DOCTYPE html>
<html lang="de">
    <head>
		{% block head %}
			{{ include('@SmugAdministration/backend/module/head.html.twig') }}
		{% endblock %}
    </head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
